# Ignore everything in this directory
*
# Except these files
!.gitignore
!mongo-secret.yaml
!mongo-service.yaml
!mongo-pvc.yaml
!mongo-rs-deployment.yaml
!mongo-route.yaml
!namespace.yaml
!kustomization.yaml
