{
  "cluster1": {
    "url": "cluster1_url",
    "admin_password": "cluster1_admin_pwd"
  },
  "cluster2": {
    "url": "cluster2_url",
    "admin_password": "cluster2_admin_pwd"
  },
  "cluster3": {
    "url": "cluster3_url",
    "admin_password": "cluster3_admin_pwd"
  },
  "pacman_lb_url": "pacman_url",
  "admin_user": "ocp_admin_user"
}
