{
  "cluster1": {
    "url": "cluster1_url",
    "ocp_version": "cluster1_ocp_version",
    "admin_user": "cluster1_admin_user",
    "admin_password": "cluster1_admin_pwd"
  },
  "cluster2": {
    "url": "cluster2_url",
    "ocp_version": "cluster2_ocp_version",
    "admin_user": "cluster2_admin_user",
    "admin_password": "cluster2_admin_pwd"
  },
  "cluster3": {
    "url": "cluster3_url",
    "ocp_version": "cluster3_ocp_version",
    "admin_user": "cluster3_admin_user",
    "admin_password": "cluster3_admin_pwd"
  }
}
